__pycache__
.coverage
.coverage.*
.DS_Store
.ipynb
.ipynb_checkpoints
.pytest_cache
.tox
.venv
*.egg*
*.pyc
*.swp
build
dist
cov_html
*.ipynb
node_modules
*.csv
.env.*.local
.env.local
.idea
.run
.venv
.mypy_cache